appdirs==1.4.4
audioop-lts==0.2.1
beautifulsoup4==4.12.3
blessed==1.20.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
cobble==0.1.4
cryptography==44.0.0
defusedxml==0.7.1
et_xmlfile==2.0.0
flyingcircus==0.1.4.1
idna==3.10
lxml==5.3.0
mammoth==1.8.0
markdownify==0.14.1
markitdown==0.0.1a2
numpy==2.2.0
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pathvalidate==3.2.1
pdfminer.six==20240706
pillow==11.0.0
puremagic==1.28
pycparser==2.22
pydub==0.25.1
python-dateutil==2.9.0.post0
python-pptx==1.0.2
pytk==0.0.2.1
pytz==2024.2
requests==2.32.3
setuptools==75.6.0
setuptools-scm==8.1.0
six==1.17.0
soupsieve==2.6
SpeechRecognition==3.12.0
standard-aifc==3.13.0
standard-chunk==3.13.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
wcwidth==0.2.13
XlsxWriter==3.2.0
youtube-transcript-api==0.6.3
